streamlit
python-dotenv

langchain
langchain-community
langchain-core

langgraph

langchain-groq
langchain-google-genai
langchain-text-splitters

langchain-pymupdf4llm
pymupdf4llm
pymupdf

google-search-results

pandas
requests